VITE_GITHUB_TOKEN=YOUR_GITHUB_TOKEN
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY
VITE_HUGGING_FACE_TOKEN=YOUR_HUGGING_FACE_TOKEN

# Razorpay Keys
VITE_RAZORPAY_KEY=
RAZORPAY_KEY_SECRET=
RAZORPAY_KEY_ID=

# Groq API Key
VITE_GROQ_API_KEY=

# Job APIs (For Supabase Edge Functions)
SERPAPI_KEY=4e3f7df3026052db387344f0f7d3cd5cbbdd5e5938d3839de44fe6d732166785
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
